body {
	font-family: Arial;
	font-size: 18px;
	color: teal;
	background: url(wepik-photo-mode-20221011-201640.png) repeat;
	text-align: center;
}

#wrapper {
	width: 1850px;
	margin: 30 auto;
}

a {
	color: yellow;
}

a:hover {
	text-decoration: underline;
}

#logo {
	float: left;
	margin-left: 25px;
	padding: 0;
}

#logo h1 {
	font-family: Calibri;
	font-size: 44px;
	font-weight: bold;
	color: yellow;
	text-shadow: grey 0px 1px 0px;
}

#logo p {
	font-family: Arial;
	font-size: 22px;
	color: #E0115F;
	margin-top: -25px;
	padding-left: 10px;
}

#menu {
	width: 600px;
	float: right;
	margin-top: 40px;
	margin-left: 50px;
}

#menu ul {
	list-style: none;
	margin: 0;
	padding: 5px 5px 5px 5px;
}

#menu li {
	display: block;
	float: left;
}

#menu a {
	color: yellow;
	font-size: 16px;
	display: block;
	float: left;
	padding: 16px 40px 12px 40px;
	text-decoration: none;
}

#menu a:hover {
	background: brown;
	color: yellow;
	-webkit-border-radius: 5px;
    -khtml-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px;
}

.menu_active {
	background: brown;
	color: yellow;
	-webkit-border-radius: 5px;
    -khtml-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px;
}

#search_top {
	float: right;
	margin-right: 30px;
}

#search_top input {
	border: 1px solid #FFFFFF;
	-webkit-border-radius: 5px;
    -khtml-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px;
}

#header {
	float: left;
	width: 1850px;
	height: 720px;
	margin-top: 20px;
	background: url(wepik-photo-mode-20221011-20129.png) no-repeat;
}

#title_head {
	float: left;
	padding-top: 60px;
	padding-left: 450px;
	color: #F1F1F1;
	font-size: 24px;
}

#container {
	float: left;
	margin-bottom: 30px;
	width: 960px;
	color: yellow;
	margin-left: 50px;
	padding-top: 50px;
}

#content {
	float: left;
	width: 800px;
	text-align: justify;
	padding-left: 10px;
	line-height: 22px;
	color: #E0115F;
	font-size: 20px;
}

h2 {
	font-size: 30px;
	font-weight: normal;
	color: yellow;
}

#sidebar {
	float: right;
	width: 0px;
	line-height: 22px;
	text-align: justify;
	margin-top: 10px;
	margin left: 150px;
}

#sidebar ul {
	list-style: none;
	margin: 0;
	padding: 5px 5px 5px 5px;
	margin-left: 450px;
}

#sidebar li {
	display: block;
	float: left;
	width: 270px;
	border-bottom: 1px solid #CCC;
}

#sidebar a {
	bakground: brown;
	color: yellow;
	font-size: 18px;
	display: block;
	float: left;
	padding: 4px 0px 4px 10px;
	text-decoration: none;
}

#sidebar a:hover {
	background: yellow;
	color: brown;
	font-size: 22;
	font-style: bold;
	margin-left: 10px;
	margin-right: 10px;
	-webkit-border-radius: 5px;
    -khtml-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px;
}

#sidebar_title {
	width: 350px;
	font-size: 25px;
	font-weight: normal;
	color: #E0115F;
	float: left;
	padding: 4px 0px 4px 10px;
    background: yellow;
	-webkit-border-radius: 5px;
    -khtml-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px;
	margin-left: 450px;
}

#sidebar p {
	padding: 5px;
}

#footer {
	width: 1850px;
	float: left;
	border-top: 1px solid #CCC;
	font-size: 12px;
	margin: 0 auto;
	color: url(wepik-photo-mode-20221011-201640.png) no-repeat;
	text-align: left;
}