body {
	font-family: Arial;
	font-size: 18px;
	color: teal;
	background: url(wepik-photo-mode-20221011-201640.png) repeat;
	text-align: center;
}

#wrapper {
	width: 1850px;
	margin: 30 auto;
}

a {
	color: yellow;
}

a:hover {
	text-decoration: underline;
}

#logo {
	float: left;
	margin-left: 25px;
	padding: 0;
}

#logo h1 {
	font-family: Calibri;
	font-size: 44px;
	font-weight: bold;
	color: yellow;
	text-shadow: grey 0px 1px 0px;
}

#logo p {
	font-family: Arial;
	font-size: 22px;
	color: #E0115F;
	margin-top: -25px;
	padding-left: 10px;
}

#menu {
	width: 600px;
	float: right;
	margin-top: 40px;
	margin-left: 50px;
}

#menu ul {
	list-style: none;
	margin: 0;
	padding: 5px 5px 5px 5px;
}

#menu li {
	display: block;
	float: left;
}

#menu a {
	color: yellow;
	font-size: 16px;
	display: block;
	float: left;
	padding: 16px 40px 12px 40px;
	text-decoration: none;
}

#menu a:hover {
	background: brown;
	color: yellow;
	-webkit-border-radius: 5px;
    -khtml-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px;
}

.menu_active {
	background: brown;
	color: yellow;
	-webkit-border-radius: 5px;
    -khtml-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px;
}

#search_top {
	float: right;
	margin-right: 30px;
}

#search_top input {
	border: 1px solid #FFFFFF;
	-webkit-border-radius: 5px;
    -khtml-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px;
}

#header {
	float: left;
	width: 1280px;
	height: 720px;
	margin-top: 50px;
	margin-left: -400px;
	background: url(wilczy-dol.png)	no-repeat;
	clip: rect(200px 0px 0px 800px);
}

#content {
	width: 500px;
	text-align: justify;
	font-size: 25px;
	line-height: 40px;
	color: #E0115F;
	margin-left: 1250px;
	padding-top: 220px;
}

h2 {
	font-size: 30px;
	font-weight: normal;
	color: yellow;
	
}

#footer {
	width: 1850px;
	float: left;
	border-top: 1px solid #CCC;
	font-size: 12px;
	margin: 0 auto;
	color: url(wepik-photo-mode-20221011-201640.png) no-repeat;
	text-align: left;
}